{% extends 'base1.html' %} {% load static %} {% block title %}
<title>Job Details || JobHere</title>
{% endblock title %} {% block content %}

<!--Main Wrapper Start-->

{{blog.content|safe}}
{% comment %} 
<div class="as-mainwrapper">





  <!--Start of Single Job Post Area-->
  <div class="single-job-post-area ptb-130 ptb-sm-60">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form action="#">
            <div class="single-job-content">
              <div class="area-title">
                <div class="single-job-post">
                  <div class="img-icon">
                    <img src="images/company-logo/1.png" alt="" />
                  </div>
                  <div class="address">
                    <strong><h5>{{card.company_name}}</h5></strong>
                    </br>
                    <p>Position : {{card.position}}</p>
                    <p>Salary : {{card.salary}}</p>
                    <p>Last Date : {{card.last_date}}</p>
                    <p>Location : {{card.location}}</p>
                   </div>
                  <div class="button-box">
                    <a href="#" class="button button-black">APPLY NOW</a>
                  </div>
                </div>
              </div>
              <div class="title"><span>job description:</span></div>
              
              <div class="single-job-form">
                <p>
                    {{blog.content|safe}}
                </p>
              </div>
              <div class="title"><span>Skills Required:</span></div>
              <div class="single-job-form">
                <div class="single-info mb-14">
                    {{blog.Skill_des|safe}}
                </div>
              </div>
              <div class="title"><span>Minimum Qualification:</span></div>
              <div class="single-job-form">
                <div class="single-info mb-14">
                    {{blog.min_qulification|safe}}
                </div>
              </div>
              <div class="title"><span>how to apply:</span></div>
              <div class="single-job-form">
                <p>
                    {{blog.how_to_apply|safe}}
                </p>
              </div>
              <div class="button-box"><a href="#" class="button button-black">APPLY NOW</a></div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--End of Single Job Post Area-->
  <!--Start of Footer Widget-area-->
  <footer class="footer-area">
    <div class="footer-top bg-opacity-dark-blue-90 ptb-60">
      <div class="container">
        <div class="row">
          <div class="col-md-6 pb-sm-30">
            <div class="subscribe-text">
              <h3>Subscribe To Our Newsletter</h3>
            </div>
          </div>
          <div class="col-md-6">
            <div class="subscribe-form">
              <input
                type="email"
                name="email"
                id="eamil"
                placeholder="Enter Your Email....."
              />
              <button>Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-widget-area ptb-80 pb-sm-30">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-5">
            <div class="single-footer-widget">
              <h3 class="text-white mb-26">GET IN TOUCH</h3>
              <span class="text-white mb-9"
                ><i class="fa fa-phone"></i>+012 345 678 102
              </span>
              <span class="text-white mb-9"
                ><i class="fa fa-envelope"></i>info@example.com</span
              >
              <span class="text-white mb-9"
                ><i class="fa fa-globe"></i>www.example.com</span
              >
              <span class="text-white mb-9"
                ><i class="fa fa-map-marker"></i>ur address goes
                here,street.</span
              >
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="single-footer-widget">
              <h3 class="text-white mb-21">By Regions</h3>
              <ul class="footer-list">
                <li><a href="#">Sudia Region</a></li>
                <li><a href="#">North America</a></li>
                <li><a href="#">Africa</a></li>
                <li><a href="#">China</a></li>
                <li><a href="#">Brazil</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 d-md-none d-lg-block">
            <div class="single-footer-widget">
              <h3 class="text-white mb-21">Job Types</h3>
              <ul class="footer-list">
                <li><a href="#">Full Time Job</a></li>
                <li><a href="#">Part Time Job</a></li>
                <li><a href="#">Temporary Job</a></li>
                <li><a href="#">Internship Job</a></li>
                <li><a href="#">Developer</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="single-footer-widget">
              <h3 class="text-white mb-21">Keyword By Jobs</h3>
              <ul class="footer-list">
                <li><a href="#">Graphic Designer</a></li>
                <li><a href="#">HTML Designer</a></li>
                <li><a href="#">WP Developer</a></li>
                <li><a href="#">Joomla Developer</a></li>
                <li><a href="#">Content Writer</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of Footer Widget-area-->
    <!-- Start of Footer area -->
    <div class="copyright-area text-center ptb-20">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-text">
              <span class="text-white block"
                >&copy; 2021 <span> Jobhere </span> Made with
                <i class="fa fa-heart"></i> by
                <a href="https://hasthemes.com/">HasThemes</a></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End of Footer area -->
</div> {% endcomment %}
 {% endblock content %}
