{% extends 'base.html' %} {% load static %} {% block title %}
<title>Job Board || JobHere</title>
{% endblock title %} {% block content %}

<div class="as-mainwrapper">

  <!--Header Area Start-->
  <header id="sticky-header" class="header-area">
    <!-- Header Top Start -->
    <div class="header-top">
      <div class="container">
        <div class="col-md-12">
          <div class="header-top-list">
            <ul class="top-contact-list">
              <li><a href="#">Call Us: 011 222 3333</a></li>
              <li><a href="#">Email: youremail@example.com</a></li>
            </ul>
            <div class="social-links">
              <a href="#"><i class="zmdi zmdi-facebook"></i></a>
              <a href="#"><i class="zmdi zmdi-rss"></i></a>
              <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
              <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
              <a href="#"><i class="zmdi zmdi-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Header Top End -->
    
  </header>
  <!-- End of Header Area -->

  <!--Start of Job Post Area-->
  <div class="job-post-area ptb-130 ptb-sm-60">
    <div class="container">
      <div class="all-job-post">
        <!-- Nav tabs -->
        <div class="post-tab nav">
          <!-- <a class="nav-link" data-bs-toggle="tab" href="#featured">FEATURED JOBS</a>
          <a class="nav-link" data-bs-toggle="tab" href="#featured">PART TIME</a>
          <a class="nav-link" data-bs-toggle="tab" href="#recent_job">FULL TIME</a> -->
          <div class="logo">
            <a href="index.html"
              ><img src="{% static 'images/logo/logo.png' %}" alt="JobHere"
            /></a>
          </div>
    
        </div>
        <!-- Tab panes -->
        <div class="tab-content">
          
            <div class="tab-pane active" id="featured">
              <!-- Card View Start -->
              <div class="row">
                {% for obj in card %}
                  <div class="col-md-6">
                    <div class="single-job-post">
                      <div class="address">
                        <h6>{{obj.company_name}}</h6>
                        <p></p>
                        <p>In : Teacher</p>
                        <p>Date : 14.05.2018</p>
                        <p>Location : Dhaka</p>
                      </div>
                      <div class="button-box">
                        <a href="#" class="button button-black">APPLY NOW</a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              
              </div>
              <!-- Card View End -->
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Job Post Area -->

 <!-- Start of Footer area -->
 <div class="copyright-area text-center ptb-20">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="footer-text">
                  <span class="text-white block">&copy; 2021 <span> Jobhere </span> Made with <i class="fa fa-heart"></i> by <a href="https://hasthemes.com/">HasThemes</a></span>
              </div>
          </div>
      </div>
  </div>
</div>
</footer>
<!-- End of Footer area -->

</div>

{% endblock content %}
