{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
hello
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Static / Main CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <link rel="stylesheet" href="{% static 'css/shortcode/shortcodes.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/color.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">







    <!-- ShortCode CSS -->
     
 

    <!-- Title Here -->
    {% block title %}
    {% endblock title %}
</head>

<body>
    {% block content %}

    {% endblock content %}
</body>
</html>
